<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block hermes_title %}Hermes Newsletter Manager{% endblock hermes_title %}</title>
    </head>
    <body>
        {% block hermes_content %}{% endblock hermes_content %}
    </body>
</html>
